[submodule "prez/auber_2024"]
	path = prez/auber_2024
	url = git@github.com:ruralinnovation/prez_auber_2024.git
[submodule "prez/urisa_2023"]
	path = prez/urisa_2023
	url = git@github.com:ruralinnovation/conf_URISA_2023.git
