---
layout: default
title: Blog
permalink: /stories/
---

<div class="container">
  <div class="page-header">
    <h1>Blog</h1>
    <p>Data analysis, methodologies, and insights from the CORI MDA team</p>
  </div>

  <div class="content-list">
    {% assign all_stories = site.stories | sort: "date" | reverse %}
    {% for story in all_stories %}
      {% include components/card.html
        title=story.title
        description=story.description
        url=story.url
        date=story.date
        categories=story.categories
      %}
    {% endfor %}
  </div>
</div>
